.vs/
LaserController/x64*
LaserController/.vs/
LaserController/.vs/LaserController/v17/Browse.VC.opendb
LaserControllerTests/
LaserControllerSetup/
LaserControllerDocumentation/
LaserGUI/x64*
Documentation*
Old/
Resources/
Output/*
Output-DEBUG/*
**/LogFiles
**/ErrorLogFiles
**/LaserStateLogFiles
*LaserStateLogFiles
*.tlog
*.log
**/*.log
*.obj
**/*.obj
*.bin
**/*.bin
*.hex
**/*.hex
*.pdb
*.ipdb
*.idb
*.ilk
*.exp
*.pch
*.tlog 
*.iobj
*.vdproj
*.pyc
*.msi
*.lib
*.dll
*.exe
*.exe.recipe
*.testdurations
__pycache__/
*.enc
**/x64
/packages/
**/Doxygen/
*.html
